.body{
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
}

/*Loading Screen*/
.loading{
    min-height: 100%;
    background: url(resources/loading.jpg);
    background-size:cover;
}

.logo{
    width: 500px;
    height: auto;
    margin-top: 20%;
    margin-left: 40%;
}

.Container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
}

.Loader{
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    position: fixed;
    top: 70%;
    left: 50%;
    color: white;
    text-shadow: 2px 4px 1px #000;
    transform: translate(-50%, -50%);
    z-index:10;
}

.BackBar{
    height: 40px;
    width: 600px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid black;
}

.WhiteBar{
    position:absolute;
    top: 0;
    left: 1px;
    height: 20px;
    width: 600px;
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
    z-index: 9;
}

.PurpleBar{
    position:absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 595px;
    border-radius: 10px;
    border: none;
    background:#f5841b;
    animation: animate 9s infinite;
}

@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 600px;
    }
}


/*signup login form*/
.signup{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(200deg, white, #34a45f);*/
    background-image: url("resources/signupLogin.jpg");
    background-size: cover;
    position:absolute;
}

.signup h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 50px;
    color: #ff7b00;
    text-shadow: 2px 2px 3px rgb(162, 162, 162);
}

.form-container{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*button effects*/
#submit-btn{
    position: relative;
    display: inline-flex;
    padding: 5px 50px;
    background:#f5841b;
    color: #fff;
    border: none;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
}

#submit-btn:hover{
    background: #ff7b00;
}

/* game styles*/
.background{
    width: 100%;
    height: 100vh;
    background-image: url("resources/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy{
    height: 250px;
    margin-top: 400px;
    position: absolute;
}

.box{
    height: 165px;
    width: 165px;
    position: absolute;
    margin-top: 540px;
    background-image: url("resources/spyro-dragon.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.score{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}

.end{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("resources/gameOver.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    font-family: "Broadway";
    visibility: hidden;
}

.replay-btn{
    width: 200px;
    height: 45px;
    background-color: #f5841b;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    color: white;
}
.replay-btn:hover{
    background-color: #ff7b00;
}

